[Unit]
Description=Seu Script
After=network.target

[Service]
ExecStart=/home/ubuntu/start.sh
Restart=always
User=ubuntu
Group=ubuntu
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
